<footer id="dk-footer" class="dk-footer">
    <!-- <div class="copyright"> -->
        <div class="container" style="color:lightblue">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2024, All Right Reserved Santu Ghosh </span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="#" style="color:lightgray">Home</a>
                            </li>
                            <li>
                                <a href="#" style="color:lightgray">Terms</a>
                            </li>
                            <li>
                                <a href="#" style="color:lightgray">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" style="color:lightgray">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    <!-- </div> -->
</footer>
